/* ////////////////////////////// */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ////////////////////////////// */

#darkMode {
  background-color: black;
  color: white;
}

/* gray out a tag */
.aHover:hover {
  filter: gray; /* IE6-9 */
  /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-filter: grayscale(1);
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

/* box shadow effect */
.effect {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effectDark {
  background-color: #202020;
  /* position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
}

/* disable horizontal scrolling */

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

a:visited {
  color: blue;
}

#green {
  color: blue;
}

.proofBox {
  text-align: center;
  color: blue;
  font-weight: bold;
}

.proofBoxBackground {
  background-color: transparent;
}

.proofBoxDark {
  text-align: center;
  color: #00d65f;
  font-weight: bold;
}

body {
  word-break: break-word;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.fadeInFromLeftToRight {
  animation: fadeInFromLeftToRight 1s;
}

.fadeInFromRightToLeft {
  animation: fadeInFromRightToLeft 1s;
}

.delay {
  opacity: 0;
  animation-delay: 1s;
  /* Let the <div> element retain the style values 
    from the last keyframe when the animation ends*/
  animation-fill-mode: forwards;
}

@keyframes fadeInFromLeftToRight {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInFromRightToLeft {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.hrWidth {
  width: 100%;
  margin: 0;
}

.eachTitle {
  margin-top: 50px;
  margin-left: 10%;
  text-align: left;
  margin-bottom: 0;
}

.eachTitleMobile {
  margin-top: 50px;
  margin-left: 3%;
  text-align: left;
  margin-bottom: 0;
}

.container {
  border-radius: 0.2rem;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 80%;
  height: auto;
  padding: 1em;
}

.containerMobile {
  flex-wrap: wrap;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
  max-width: 94%;
  height: auto;
  padding: 1em;
}

.paddingForContainer {
  margin-top: 10px;
}

.leftInnerContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.leftInnerContainerMobile {
  width: 100%;
  display: flex;
}

.rightInnerContainer {
  width: 70%;
  margin: 10px;
}

.rightInnerContainerMobile {
  width: 100%;
}
